version: 2.1

orbs:
  go: gotest/tools@0.0.13

workflows:
  ci:
    jobs:
      - test-go-1-10:
          name: test-go-1.10

      - go/test:
          name: test-go-1.11
          gotestsum-format: short-verbose
          executor:
            name: go/golang
            tag: 1.11-alpine

      - go/test:
          name: test-go-1.12
          gotestsum-format: short-verbose
          executor:
            name: go/golang
            tag: 1.12-alpine

      - go/test:
          name: test-go-1.13
          gotestsum-format: short-verbose
          executor:
            name: go/golang
            tag: 1.13-alpine

      - go/test:
          name: test-windows-go1.12
          executor: windows
          pre-steps:
            - run: |
                git config --global core.autocrlf false
                git config --global core.symlinks true

      - go/lint:
          golangci-lint-version: 1.21.0

      - build
      - run

      - build:
          name: release
          publish: true
          filters:
            tags: {only: '/v[0-9]+(\.[0-9]+)*/'}
            branches: {ignore: '/.*/'}

executors:
  windows:
    machine:
      image: windows-server-2019-vs2019:201908-06
      resource_class: windows.medium
      shell: bash.exe

commands:
  install-deps:
    description: Install dep and dependencies
    steps:
      - run:
          name: Install dep
          command: |
            command -v dep && exit
            wget -O- -q https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run:
          name: Install dependencies
          command: dep ensure

  install-goreleaser:
    description: Install goreleaser
    steps:
      - run:
          name: Install goreleaser
          command: |
            command -v goreleaser && exit
            wget -O- -q https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh

jobs:

  build:
    parameters:
      publish:
        type: boolean
        default: false
    executor: go/golang
    steps:
      - go/install: {package: git}
      - go/install-ssh
      - checkout
      - go/mod-download
      - go/mod-tidy-check
      - install-goreleaser
      - unless:
          condition: << parameters.publish >>
          steps:
            run:
              name: build binaries
              command: bin/goreleaser --rm-dist --snapshot
      - when:
          condition: << parameters.publish >>
          steps:
            run:
              name: build and publish binaries
              command: bin/goreleaser --rm-dist --skip-validate
      - store_artifacts:
          path: ./dist
          destination: dist

  test-go-1-10:
    executor:
      name: go/golang
      tag: 1.10-alpine
    working_directory: /go/src/gotest.tools/gotestsum
    steps:
      - go/install: {package: git}
      - go/install-ssh
      - checkout
      - go/install-gotestsum
      - install-deps
      - run:
          name: go test
          environment:
            GOTESTSUM_JUNITFILE: /tmp/test-reports/unit/junit.xml
            GOTESTSUM_FORMAT: short-verbose
          command: |
            mkdir -p /tmp/test-reports/unit
            gotestsum
      - store_test_results:
          path: /tmp/test-reports

  run:
    executor: go/golang
    steps:
      - go/install: {package: git}
      - go/install-ssh
      - checkout
      - go/mod-download
      - run: |
          mkdir -p dist
          go build -o dist/gotestsum .
      - run: dist/gotestsum

  update-windows-golden:
    executor: windows
    steps:
      - checkout
      - go/install-gotestsum
      - run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true

      - run: |
          /go/bin/gotestsum ./testjson ./internal/junitxml -test.update-golden

      - store_artifacts:
          path: testjson/testdata/
          destination: golden
